.w-20{
    width : 20%
}

.w-30{
    width : 30%
}

.logo-text{
    width : 110px;
}

.bi{
    margin-right: 10px;
}
.story{
    height: 75px;
    
}
.dp{
    height: 30px;
    margin-bottom: 8px;
}

.post{
    width: 400px;
    height: 600px;
    border-radius: 10px;
}

.suggestion .dp{
    height: 40px;
}

.suggest .dp{
    height : 40px;
    width: 40px;
}

.gradient-border{
width: 75px;
height: 75px;
display:flex;
align-items: center;
justify-content: center;
border-radius: 50%;
background: linear-gradient(45deg,#ff00ff,#ff6600,#ffcc00);
}
.story-dp{
    width: 60px;
}
.profiledp{
    height: 150px;
    width: 150px;
}
.followerdp{
    height : 40px;
    width: 40px;
}
